page-my-cart {

    
    .bg{
        background-color:#661496;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.text{
 color: azure;

}
}